<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles.css')}}">
        <script src="{{url_for('static',filename='index.js')}}"></script>
        <title>Toyota Corola</title>
    </head>
    <body>
        <h1>Toyota Corolla</h1>
        <main>
        <form action="" method="post">
            <img class="car" src=""/>
            <br/>
            <input type="text" id="name" placeholder="Login" name="login"/>
            <br/>
            <input type="password" id="password" placeholder="Password" name="password"/>
            <br/>
            <button type="submit" id="submitButton" name="submitButton">Log in</button>
            <h2>Поднесите руку к сканеру</h2>
        </form>
        </main>
    </body>
</html>